<launch>

    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="elikos_ffmv_bottom"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="elikos_realsense_front"/>
    </include>
    <!--include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="elikos_realsense_right"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="elikos_realsense_left"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="elikos_realsense_right"/>
    </include-->

</launch>
