<launch>

    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="gazebo_ffmv_bottom"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="gazebo_r200_front"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="gazebo_r200_back"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="gazebo_r200_left"/>
    </include>
    <include file="$(find elikos_localization)/launch/localization_detection.launch">
        <arg name="camera_name" value="gazebo_r200_right"/>
    </include>

    <node pkg="elikos_localization" type="fallback.py" name="feature_tracking" output="screen">
        <rosparam command="load" file="$(find elikos_localization)/cfg/feature_tracking.yaml"/>
        <remap from="localization/features_0" to="gazebo_ffmv_bottom/intersections"/>
        <remap from="localization/features_1" to="gazebo_r200_front/intersections"/>
        <remap from="localization/features_2" to="gazebo_r200_left/intersections"/>
        <remap from="localization/features_3" to="gazebo_r200_right/intersections"/>
        <remap from="localization/features_4" to="gazebo_r200_back/intersections"/>
    </node>

</launch>
