<launch >


    <node pkg="elikos_localization" type="elikos_localization" name="elikos_localization" clear_params="true">
        <param name="focal_length" value="423.0"/>
        <param name="camera" value="elikos_ffmv_bottom_camera"/>
        <param name="output_frame_id" value="elikos_ffmv_bottom"/>

    </node>
    <node pkg="elikos_localization" type="no_filter_is_the_best.py" name="drone_pose_estimator" output="screen">
        
        <!-- Topics -->
        <param name="mavros_speed_topic" value="/mavros/global_position/local"/>
        <param name="topic_input_points" value="/localization/features"/>
        <param name="topic_publication_pose" value="/localization/drone_pose"/>


        <!-- Frames tf -->
        <param name="arena_center_frame_id" value="elikos_arena_origin"/>
        <param name="base_link_frame_id" value="elikos_base_link"/>
        <param name="fcu_frame_id" value="elikos_fcu"/>
        <param name="output_position_fcu_frame_id" value="elikos_vision"/>
    </node>
</launch>