<launch>
    <include file="$(find realsense_camera)/launch/r200_nodelet_modify_params.launch" >
		<arg name="serial_no" value="2401001385"/>
        <arg name="enable_depth" value="false"/>
        <arg name="enable_pointcloud" value="false"/>
        <arg name="enable_tf" value="false"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="depth_fps" value="0"/>
	</include>
</launch>
