<launch>
  <!-- Tracking -->
	<include file="$(find elikos_tracking)/launch/elikos_tracking.launch"/>

  <!-- AI -->
  <include file="$(find elikos_decisionmaking)/launch/decisionmaking.launch"/>

  <!-- Path planning -->
  <include file="$(find elikos_path_planning)/launch/path_planning.launch"/>

  <!-- Control -->
  <include file="$(find elikos_control)/launch/elikos_control.launch" />
</launch>
