<launch>
	<include file="$(find elikos_main)/launch/cameraTrigger.launch"/>

	<include file="$(find elikos_main)/launch/camera1394_3.launch" />

	<include file="$(find realsense_camera)/launch/r200_nodelet_modify_params.launch" >
		<arg name="camera" value="r200" />
		<arg name="serial_no" value="2411013612"/>
	</include>

  	<include file="$(find elikos_main)/launch/px4.launch" />

	<include file="$(find rovio)/launch/rovio_node.launch" />

  	<!-- elikos_arena_origin initialisation -->
  	<include file="$(find elikos_main)/launch/elikos_origin_init.launch"/>
</launch>