# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Open files meta-file (example.extension~)
*.*~

# clion files
.idea
.idea/*
.idea/**/*
.idea/.name
.idea/*.xml

# eclipse files
.project
.cproject

# vscode files
.vscode/*
elikos_localization/.vscode/*
elikos_localization/build/*

