<launch>
  <node name="elikos_moveit_move_group" pkg="elikos_path_planning" type="elikos_moveit_move_group"  output="log"/>
  <include file="$(find elikos_moveit_config)/launch/moveit_master.launch"/>
  <node name="elikos_action_controller" pkg="elikos_action_controller" type="elikos_action_controller"  output="log"/>
</launch>
