<launch>
  <!-- Target detection -->
  <arg name="rviz" default="true" />
  <arg name="image" default="false" />
  <arg name="calib" default="false" />
  <arg name="calib_in" default="calibration_initial" />
  <arg name="calib_out" default="new_calibration" />
  <arg name="calib_dir" default="$(find elikos_detection)/cfg/" />
  <include file="$(find elikos_detection)/launch/elikos_detection.launch"/>

  <!-- AI -->
	<include file="$(find elikos_ai)/launch/ai.launch"/>

  <!-- Path planning -->
  <include file="$(find elikos_path_planning)/launch/path_planning.launch"/>

  <!-- Static transforms -->
  <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0.0 0.0 1.0 0.0 0.0 0.0 1.0 elikos_arena_origin elikos_base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="-0.117 0.0 -0.027 0.707107 -0.707107 0.0 0.0 elikos_base_link elikos_ffmv_bottom 100" />
  <node pkg="tf" type="static_transform_publisher" name="r200_broadcaster" args="0.141 0 0 -0.59 0.59 -00.39 0.39 elikos_base_link r200 100" />

  <!-- elikos_arena_origin initialisation -->
  <include file="$(find elikos_main)/launch/elikos_origin_init.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elikos_path_planning)/cfg/test_moveit.rviz"/>

  <node name="elikos_control" pkg="elikos_control" type="elikos_control"/>
</launch>
