<launch>
	<node pkg="camera1394" type="camera1394_node" name="camera1394">
		<param name="guid" value="00b09d0100db6e43" />
		<param name="video_mode" value="640x480_mono8" />
		<param name="frame_rate" value="30" />
		<!-- color stuff -->
		<param name="bayer_pattern" value="rggb" />
		<param name="bayer_method" value="" />
		<param name="use_ros_time" value="true" />

	</node>

	<node pkg="image_view" type="image_view" name="img_view">
		<remap from="image" to="svo/image" />
		<param name="autosize" value="true" />
	</node>
<!--
	<node name="cameracalibrator" pkg="ptam" type="cameracalibrator" clear_params="true" output="screen">
		<remap from="image" to="camera/image_raw" />
		<remap from="pose" to="pose"/>
		<rosparam file="$(find ptam)/PtamFixParams.yaml"/>
	</node>
-->
	<node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">

		<param name="cam_topic" value="/camera/image_raw" type="str" />
		<rosparam file="$(find elikos_ros)/launch/camera.yaml" />
		<rosparam file="$(find elikos_ros)/launch/vo_fast.yaml" />

		<param name="init_rx" value="3.14159265359" />
		<param name="init_ry" value="0.0" />
		<param name="init_rz" value="0.0" />
		<param name="accept_console_user_input" value="true" />
		<param name="publish_world_in_cam_frame" value="false" />
		<param name="map_scale" value="0.73" />

	</node>
</launch>