<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="/dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://localhost:14556@localhost:14550" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="50" />

	<node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="screen">
		<remap from="/mavros/vision_pose/pose" to="/msf_core/pose" />

		<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find elikos_ros)/param/px4_config.yaml" />

		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="tgt_system" value="$(arg tgt_system)" />
		<param name="tgt_component" value="$(arg tgt_component)" />

		<!-- TODO check this parameter, following line was used to override while debugging -->
		<param name="vision_pose/pose_with_covariance" value="true" />
	</node>
</launch>
