<launch>
  <node pkg="camera1394" type="camera1394_node" name="camera1394">
    <param name="guid" value="00b09d0100db6e40" />
    <param name="video_mode" value="640x480_mono8" />
    <param name="frame_rate" value="60" />
    <!-- color stuff -->
    <param name="bayer_pattern" value="rggb" />
    <param name="bayer_method" value="simple" />
    <param name="use_ros_time" value="true" />
  </node>
  <!--
   <node name="cameracalibrator" pkg="ptam" type="cameracalibrator" clear_params="true" output="screen">
	    <remap from="image" to="camera/image_raw" />
        <remap from="pose" to="pose"/>
	    <rosparam file="$(find ptam)/PtamFixParams.yaml"/>
  </node>
-->

  <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">

    <param name="cam_topic" value="/camera/image_raw" type="str" />
    <rosparam file="$(find elikos_ros)/param/camera.yaml" />
    <rosparam file="$(find elikos_ros)/param/vo_fast.yaml" />

    <param name="init_rx" value="3.14159265359" />
    <param name="init_ry" value="0.0" />
    <param name="init_rz" value="-1.57079632679" />
    <param name="accept_console_user_input" value="true" />
    <param name="publish_world_in_cam_frame" value="false" />
    <param name="map_scale" value="0.74" />

  </node>

  <node name="im_view" pkg="image_view" type="image_view">
    <remap from="image" to="svo/image" />
    <param name="autosize" value="true" />
  </node>

    <!--node name="msf_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <remap from="msf_core/imu_state_input" to="/mavros/imu/data" />
        <remap from="msf_updates/pose_with_covariance_input" to="/svo/pose" />
	<rosparam file="$(find msf_updates)/pixhawk.yaml"/>
    </node> -->
</launch>
