<launch>
	<!-- Target detection -->
	<include file="$(find elikos_detection)/launch/elikos_detection.launch">
      <arg name="camera_name" value="gazebo_r200_front" />
      <arg name="cfg" value="gazebo_r200_front"/>
  </include>
	<include file="$(find elikos_detection)/launch/elikos_detection.launch">
      <arg name="camera_name" value="gazebo_r200_right" />
      <arg name="cfg" value="gazebo_r200_right"/>
  </include>
	<include file="$(find elikos_detection)/launch/elikos_detection.launch">
      <arg name="camera_name" value="gazebo_r200_left" />
      <arg name="cfg" value="gazebo_r200_left"/>
  </include>
	<include file="$(find elikos_detection)/launch/elikos_detection.launch">
      <arg name="camera_name" value="gazebo_r200_back" />
      <arg name="cfg" value="gazebo_r200_back"/>
  </include>
	<include file="$(find elikos_detection)/launch/elikos_detection.launch">
      <arg name="camera_name" value="gazebo_ffmv_bottom" />
      <arg name="cfg" value="gazebo_ffmv_bottom"/>
  </include>

	<!-- Target tracking -->

	<!-- AI -->
	<include file="$(find elikos_ai)/launch/ai.launch"/>

	<!-- Path planning and navigation -->
  <include file="$(find elikos_path_planning)/launch/path_planning.launch"/>

	<!-- Control -->
	<include file="$(find elikos_control)/launch/elikos_control.launch"/>

	<!-- Static transforms -->
	<include file="$(find elikos_sim)/launch/transforms_setup.launch"/>
  
  <!-- Target and obstacle robots -->
	<include file="$(find elikos_sim)/launch/robots_sim.launch"/>

</launch>
