<launch>
    <arg name="camera_name" default="elikos_ffmv_bottom"/>
    <node name="elikos_$(arg camera_name)_preprocessing" type="elikos_preprocessing" pkg="elikos_preprocessing">
        <rosparam command="load" file="$(find elikos_detection)/cfg/cameras/$(arg camera_name).yaml"/>
    </node>
</launch>