<!-- Launch file to test robot tracking -->
<!-- Nodes: dnt, tracking_abs -->
<!-- Rviz is launched by default. You can launch rqt_image_view with "image:=true" in the command line-->
<launch>
	<arg name="rviz" default="true" />
	<arg name="image" default="false" />
	<arg name="calib" default="false" />
	<arg name="calib_in" default="calibration_initial" />
	<arg name="calib_out" default="new_calibration" />
	<arg name="calib_dir" default="/home/ta11e4rand/catkin_workspace/src/elikos_ros/src/dnt/BlobDetection/Calibration/" />
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"/>
	<node if="$(arg image)" pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view"/>
	<node name="tracking_abs" pkg="elikos_ros" type="tracking_abs" />
	<node name="dnt" pkg="elikos_ros" type="dnt">
      <param name="calibration" value="$(arg calib)" />
      <param name="file_in" value="$(arg calib_in)" />
      <param name="file_out" value="$(arg calib_out)" />
      <param name="dir" value="$(arg calib_dir)" />
	</node>
	<!-- Camera node -->
	<node pkg="camera1394" type="camera1394_node" name="ffmv">
      <param name="guid" value="00b09d0100db6e40" />
      <param name="video_mode" value="640x480_mono8" />
      <param name="frame_rate" value="30" />
      <param name="bayer_pattern" value="rggb" />
      <param name="bayer_mode" value="AHD" />
    </node>
    <rosparam command="load">
    local_position:
      tf:
        send: true
    global_position:
      tf:
        send: false
    </rosparam>
    <include file="$(find mavros)/launch/px4.launch" />
</launch>
